{% extends "base.html" %} 

{% block content %} 

{% if title == "MOVIES" %}
<script src="{{ url_for('static', filename='js/view-all-movie.js') }}"></script>
{% elif title == "BOOKS" %}
<script src="{{ url_for('static', filename='js/view-all-books.js') }}"></script>
{% elif title == "TV SHOWS" %}
<script src="{{ url_for('static', filename='js/view-all-tvshow.js') }}"></script>
{% endif %}
<section id="view-all-section">
    <div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="detailModalTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <img
                                    id="detailModalImg"
                                    class="img-fluid movie-img-modal"
                                    src="https://i.ebayimg.com/images/g/1EMAAMXQdGJR2-n3/s-l1600.jpg"
                                    onError="this.onerror=null;this.src='https://i.ebayimg.com/images/g/1EMAAMXQdGJR2-n3/s-l1600.jpg';"
                                    alt="Sorry, something went wrong"
                                />
                            </div>
                            <div class="col-md-6">
                                <h3 id="detailModalBodyTitle"></h3>
                                <p id="detailModalRelease"></p>
                                <p id="detailModalOverview"></p>
                                <div class="row d-flex justify-content-center">
                                    <div class="col-lg-3 col-md-4 col-sm-3 col-4 col-modal-movie-rating">
                                        <div id="detailModalRating" class="modal-detail-rating"></div>
                                    </div>
                                    <p class="col-user-rating col-lg-9 col-md-8 col-sm-9 col-8">User Rating</p>
                                </div>
                                <div id="detailModalGenres"></div>
                                <a id="detailModalMoreDetails" target="_blank"><img class="tmdb-icon" src="{{ url_for('static', filename='/images/tmdb.svg') }}"/> More details!</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <h1 id="view-all-title">{{title}}</h1>
    <div>
        <form id="search-form">
            {% if title == "TV SHOWS" %}
                <h3>Find a {{title.split(' ')[0]}} {{title.split(' ')[1].lower().capitalize()[0:-1]}}</h3>
            {% else %}
                <h3>Find a {{title.lower().capitalize()[0:-1]}}</h3>
            {% endif %}
            {% if (title == "MOVIES" or title == "TV SHOWS") %}
            <div class="filter-by-genre">
                <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Search By Genre
                </a>
                <div class="collapse" id="collapseExample">
                    <li class="genre-checkboxes">
                        {% for genre in genres %}    
                        <div class="genre-checkbox">
                            <label><input name="genre-checkbox" type="checkbox" value={{ genre['id'] }}> {{ genre['name'] }}</label>
                        </div>
                        {% endfor %}
                        
                        <a type="button" class="reset-filter" href="">Reset Filter</a>
                        <a type="button" class="apply-filter" href="">Apply Filter</a>
                    </li>
                </div>
            </div>
            <input id="search" class="form-control mr-sm-2" type="search" placeholder="Search title" aria-label="Search" />
            {% elif title == "BOOKS" %}
            <input id="search" class="form-control mr-sm-2" type="search" placeholder="Search title" aria-label="Search" disabled/>
            <div class="alert alert-info" role="alert">
               <h4 class="alert-heading">Notice!</h4>
                <p>As of December 8, 2020 Goodreads announced it is planning to close API access to the platform, effectively disabling outside access to Goodreads data.<br/>
                The search function relies on the API, so as for now it is disbaled until we found an alternative.</p>
            </div>
            {% endif %}
        </form>
    </div>
    <div class="container-fluid mt-4 p-4">
        {% if title == "MOVIES" %}
        <div id="movie-pages"></div>
        <div class="next-prev-tabs">
            <a id="next" class="btn page-link">Next</a>
            <a id="previous" class="btn page-link" tabindex="-1">Previous</a>
        </div>
        <div id="movie-content" class="row d-flex justify-content-center"></div>
        <div class="next-prev-tabs">
            <a id="next" class="btn page-link ">Next</a>
            <a id="previous" class="btn page-link " tabindex="-1 ">Previous</a>
        </div>
        {% elif title == "TV SHOWS" %}
        <div id="tvshow-pages"></div>
        <div class="next-prev-tabs">
            <a id="next" class="btn page-link">Next</a>
            <a id="previous" class="btn page-link" tabindex="-1">Previous</a>
        </div>
        <div id="tvshow-content" class="row d-flex justify-content-center"></div>
        <div class="next-prev-tabs">
            <a id="next" class="btn page-link ">Next</a>
            <a id="previous" class="btn page-link " tabindex="-1 ">Previous</a>
        </div>
        {% elif title == "BOOKS" %}
        <div id="book-content" class="row d-flex justify-content-center">
            <table id="book-content-table" class="table table-striped book-content-table">
                <tbody id="book-content-body">
                    {% for book in books %}
                    <tr>
                        <td class="book-cover-td">
                            <img class="img-cover-small" src="{{book['img']}}">
                        </td>
                        <td>
                            <div class="book-description">
                                <a href="{{book['href']}}" , target="_blank" style="color:black;">
                                    <p class="title ">{{book['title']}}
                                        <span class="author ">by {{book['author']}}</span>
                                    </p>
                                </a>
                                <div id="ratingElem-{{book['book_id']}}" class="book-rating-table">
                                    {{book['ratingElem']}}
                                </div>
                            </div>
                        </td>
                        <td>
                            {% if book['saved'] == 1 %}
                            <button id="save-book-btn-{{book['book_id']}}" class="save-book-btn saved">
                                <span>BOOK SAVED</span>
                            </button> {% else %}
                            <button id="save-book-btn-{{book['book_id']}}" class="save-book-btn">
                                <span>SAVE BOOK</span>
                            </button> {% endif %}
                        </td>
                        <input type="hidden" id="book_id-{{book['book_id']}}" value="{{book['book_id']}}">
                        <input type="hidden" id="img-{{book['book_id']}}" value="{{book['img']}}">
                        <input type="hidden" id="img_small-{{book['book_id']}}" value="{{book['img_small']}}">
                        <input type="hidden" id="title-{{book['book_id']}}" value="{{book['title']}}">
                        <input type="hidden" id="href-{{book['book_id']}}" value="{{book['href']}}">
                        <input type="hidden" id="author-{{book['book_id']}}" value="{{book['author']}}">
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
    <div class="modal-loading">
    </div>
</section>
{% endblock %}